/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
body{
    margin: 0px;
    padding: 0px;

    
}

main{
    padding: 16px;

}

img{
    height: 200px;
    
}

nav{
    border-bottom: 1px;
    color: white;
    padding: 16px;
    background-color: orangered;

}

.a-color{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.container-with-grid {
    display: grid;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: bold;
    
}

h1{
    color: rgb(24, 94, 24);
}

h1:hover {
    color: cornflowerblue;
    
}      

h2{
    font-weight: bold;
}

a{
    color: rgb(23, 153, 23);
    text-decoration: none;
}

a:hover {
    cursor: grab;
    color: goldenrod;
    zoom: 140%;
    
}

footer{
    padding: 15px;
    background-color: yellowgreen;
    font-weight: bold;

}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

table:hover {
    zoom: 160%;
    color: chocolate;
}  

ol:hover {
    zoom: 160%;
    color: hotpink;
}

